<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    Tushar,
    <p>Hello <%= name %> </p>
    <p>your age is <%= age %> </p>
    <!-- using locals, as locals is an object contains all data we provided   -->
    <p>Hi <%= locals.name %>,  your age is <%= locals.age %> </p>
</body>

<script src="script.js"></script>
</html>